'atom-text-editor[data-grammar="source sofistik"]':
  'f5'       : 'sofistik-tools:calculation-WPS'
  'ctrl-f5'  : 'sofistik-tools:calculation-WPS-immediately'
  'shift-f5' : 'sofistik-tools:calculation-WPS-current'
  'alt-f5'   : 'sofistik-tools:calculation-SPS-immediately'
  'f6'       : 'sofistik-tools:current-help'
  'ctrl-f6'  : 'sofistik-tools:current-help-[M]'
  'alt-f6'   : 'sofistik-tools:current-help-[E]'
  'f7'       : 'sofistik-tools:open-Animator'
  'alt-f7'   : 'sofistik-tools:open-Animator-2018'
  'f8'       : 'sofistik-tools:open-WinGRAF'
  'ctrl-f8'  : 'sofistik-tools:open-Result-Viewer'
  'f9'       : 'sofistik-tools:open-report'

'.sofistik-tools.help-list atom-text-editor[mini]':
  'enter'    : 'help-list:open-in'
  'alt-enter': 'help-list:open-ex'

'.sofistik-tools.example-list atom-text-editor[mini]':
  'enter'    : 'example-list:open'
