'atom-text-editor[data-grammar="source sofi"]':
  'f5':'SOFiSTiK-atom:calculation-WPS'
  'f6':'SOFiSTiK-atom:calculation-WPS-immediately'
  'f7':'SOFiSTiK-atom:calculation-SPS'
  'f8':'SOFiSTiK-atom:open-report'
