'atom-text-editor[data-grammar="source sofistik"]':
  'f5'       : 'SOFiSTiK-tools:calculation-WPS'
  'ctrl-f5'  : 'SOFiSTiK-tools:calculation-WPS-immediately'
  'shift-f5' : 'SOFiSTiK-tools:calculation-WPS-immediately-current-prog'
  'alt-f5'   : 'SOFiSTiK-tools:calculation-SPS'
  'f6'       : 'SOFiSTiK-tools:current-help'
  'ctrl-f6'  : 'SOFiSTiK-tools:current-help-multi'
  'alt-f6'   : 'SOFiSTiK-tools:current-help-externally'
  'f7'       : 'SOFiSTiK-tools:open-Animator'
  'f8'       : 'SOFiSTiK-tools:open-WinGRAF'
  'ctrl-f8'  : 'SOFiSTiK-tools:open-Result-Viewer'
  'f9'       : 'SOFiSTiK-tools:open-report'

'.sofistik-tools.sofistik-help atom-text-editor[mini]':
  'enter'    : 'SOFiSTiK-help:open-in'
  'alt-enter': 'SOFiSTiK-help:open-ex'
