'atom-text-editor[data-grammar="source sofi"]':
  'f5':'sofistik-tools:calculation-WPS'
  'ctrl+f6':'sofistik-tools:calculation-WPS-immediately'
  'alt+f6':'sofistik-tools:calculation-SPS'
  'f6':'sofistik-tools:open-or-create-file-SOFiPLUS'
  'f7':'sofistik-tools:open-Animator'
  'f8':'sofistik-tools:open-WinGRAF'
  'ctrl+f8':'sofistik-tools:open-Result-Viewer'
  'f9':'sofistik-tools:open-report'

'.sofistik-help atom-text-editor[mini]':
  'alt-enter': 'sofistik-help:alt-select'
