.sofistik-tools > span {
  color: @text-color-subtle;
  cursor: context-menu;
}

.sofistik-tools .keystroke {
  border: solid 1px;
  padding: .2em .4em;
  border-radius: 4px;
}

.sofistik-tools .empty-message {
  color: @text-color-error;
  margin-top: 10px;
}
